<p>products works!</p>
<div class="card">
    <div class="card-head">Lorem ipsum -product 1</div>
    <div class="card-body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae iste quam culpa consequuntur. Neque
        quibusdam eos, veniam ea blanditiis, pariatur architecto amet maxime animi nulla inventore quod labore
        laudantium deserunt.
    </div>
</div>
<div class="card">
    <div class="card-head">Lorem ipsum -product 2</div>
    <div class="card-body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae iste quam culpa consequuntur. Neque
        quibusdam eos, veniam ea blanditiis, pariatur architecto amet maxime animi nulla inventore quod labore
        laudantium deserunt.
    </div>
</div>